body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 65px;
  padding-top: 60px;
  color: rgb(94, 94, 94);
}

.gray {
  color: gray;
}
.orange-color {
  color: orange;
}
.flex {
  display: flex;
  margin-top: 40px;
  margin-bottom: 60px;
}
.half-width {
  width: 50%;
  float: left;
  padding-left: 4%;
}
.half-width img {
  width: 85%;
  margin-left: 20px;
}
.button {
  text-decoration: none;
  color: white;
  padding: 13px 35px;
  border-radius: 30px;
  display: inline-block;
  background-image: linear-gradient(orange, tomato);
}
.about-us {
  background-image: url(images/shapes/7.png);
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 50px;
}
.about-us p {
  padding-right: 10%;
  text-align: justify;
}
.about-us img {
  width: 50%;
  padding-left: 120px;
}
.recipe-header {
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
}
.recipe-menu {
  width: 300px;
  margin: 150px;
}

.menu-item {
  width: 400px;
  padding: 15px 15px;
  margin-right: 50px;
  box-shadow: 0 0 15px rgb(196, 192, 192);
  border-radius: 20px;
}
.menu-item img {
  border-radius: 20px;
  width: 350px;
}
.followers {
  display: flex;
  width: 84%;
  margin: 0 8% 90px;
  padding-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(196, 192, 192);
}
.followers h2 {
  font-size: 50px;
  margin-bottom: 0;
  color: rgb(6, 63, 60);
}
.followers div {
  width: 28%;
  padding-left: 50px;
  text-align: center;
}
footer {
  text-align: center;
  background-color: rgb(51, 53, 66);
  color: white;
}
footer h1 {
  font-size: 50px;
  padding-bottom: 10px;
  margin: 0;
}
